<!DOCTYPE html>
<html>
<head>
    <title>Teknoloji Bağımlılığı Can Kurtaranı</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Kurtuluş!</h1>
    <p>Başka hobi edinin teknolojiyi fazla kullanmayın</p>
    <h2>Teknolojiyi az kullan uzun yaşa</h2>
             <ul>
                   <li>Veriler ortalama bir gencin günde 4 saat telefon kulandığını gösteriyor çok fazla</li>
                   <li>bu obezite gibi hastalıkların artmasının nedenlerinden biri olabilir</li>
                   <a href="http://127.0.0.1:5000/info">daha fazla bilgi için</a>
             </ul>
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMHt3IDrmpqor5px3SvVc8BLGp6aDtel9eww&s" alt="Image1">
     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMHt3IDrmpqor5px3SvVc8BLGp6aDtel9eww&s" alt="Image2">
    <iframe src="https://www.meteoblue.com/tr/hava/widget/daily/?geoloc=detect&days=7&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=0&winddirection=1&uv=0&humidity=0&precipitation=1&precipitationprobability=1&spot=1&pressure=0&layout=light&user_key=5e8a0f6055a8b80f&embed_key=4604c6f6375bb990&sig=b526994dae9fb52aa0a26d9c6cd23bb472b74f09fdc92c0009401fae459109ec" frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 898px;height: 899px;border: 0;overflow: hidden;"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/tr/hava/hafta/index" target="_blank" rel="noopener">meteoblue</a></div>
   
</body>




</html>









